@font-face {
  font-family: 'Amatic SC';
  src: url('../fonts/AmaticSC-Regular.ttf');
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-size: 30px;
}

h3 {
  margin: 0;
  text-align: center;
  font-size: 26px;
}

h4, h5 {
  margin: 0;
}

h4 {
  font-size: 18px;
}

h5 {
  color: #888;
  font-size: 14px;
  margin: 5px 0;
}

h6 {
  font-size: 12px;
  margin: 10px 0 0 0;
}

main {
  position: absolute;
  top: 56px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

small {
  color: #999;
  text-align: center;
}

.pad20 {
  padding: 20px;
}

.row {
  margin: 0;
}

.row .col {
  padding: 0;
}

.tabs .tab a {
  color: white;
}

.tabs .tab a:hover, .tabs .tab a.active {
  color: #6FBE45;
}

.tabs .indicator {
  background-color: #6FBE45;
  height: 5px;
}

.contactBox, .recentVotes {
  padding: 20px 0 0 0;
}

.hidden {
  display: none !important;
}

.hidden + main {
  top: 0;
}

.brand-logo, .logo {
  font-family: 'Amatic SC', cursive;
}

.side-nav {
  background-color: rgba(0, 0, 0, .95);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-nav a {
  color: white;
  font-weight: 200;
  letter-spacing: 1px;
  margin-left: 20px;
}

.side-nav li>a>i {
  color: #AAA !important;
  margin: 0 10px 0 0 !important;
  font-size: 18px;
}

.welcome .brand-logo, .side-nav .logo {
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  text-align: center;
}

.side-nav .logo {
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 25px;
  margin: 50px auto;
}

.welcome .brand-logo {
  width: 200px;
  height: 200px;
  line-height: 200px;
  font-size: 60px;
  margin: 30px auto;
}

.card {
  margin: 0;
}

.shortInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
}

.actionBox {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.repCard {
  display: flex;
  border-bottom: 1px solid #CCC;
  background-color: #EEE;
  border-radius: 0;
  box-shadow: none;
}

.repInfo {
  padding: 10px 15px 0 15px;
  width: 100%;
}

.party {
  text-transform: capitalize;
}

.party.democrat {
  color: #007DC5;
}

.party.republican {
  color: #ED1C24;
}

.party.independent {
  color: #FFC900;
}

.headshot {
  height: 125px;
}

.statBox {
  color: white;
  display: none;
  padding: 20px;
}

.open .statBox {
  display: block;
}

.republican .statBox {
  background-color: #ED1C24;
}

.democrat .statBox {
  background-color: #007DC5;
}

.independent .statBox {
  background-color: #FFC900;
}

.stat {
  display: flex;
  align-items: center;
  padding: 7px 20px;
}

.stat i {
  align-self: flex-start;
  margin-right: 1ch;
}

.stat a {
  color: black;
}

.loader {
  height: 100%;
  display: flex;
  align-items: center;
}

.red {
  background-color: #ED1C24;
}

.page {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

.red {
  background-color: #ED1C24;
}

.blue {
  background-color: #007DC5;
}

/*.addrOption {
  background-color: #EEE;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}*/

.addrOption {
  display: flex;
  align-items: flex-end;
  margin: 20px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.addrOption div {
  padding: 10px;
  text-align: center;
  width: 100%;
  background-color: #111;
  color: white;
}

.wide {
  width: 100%;
}

.back {
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  text-transform: none;
  padding: 8px;
  border-radius: 50%;
  margin: 0 0 10px 20px;
  width: 30px;
  height: 30px;
}

.action i {
  font-size: 14px;
}


.democrat .action {
  background-color: #66ABD2;
}

.republican .action {
  background-color: #E0A7A3;
}

.democrat .callBut {
  background-color: #007DC5;
}

.republican .callBut {
  background-color: #F44336;
}

.profilePic {
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  height: 200px;
}

.prt {
  text-transform: capitalize;
}

.namePic {
  padding: 20px;
}

.namePic h3 {
  color: white;
  text-align: center;
  font-size: 28px;
  margin-top: 20px;
}

.profileData, .billData {
  background-color: #EEE;
}

.title {
  padding: 15px 20px 20px 20px;
}

.title h3 {
  color: white;
  font-size: 20px;
}

.title h4 {
  font-style: italic;
  font-size: 16px;
  text-align: center;
  color: white;
  margin-top: 10px;
}

.democrat .title {
  background-color: #007DC5;
}

.republican .title {
  background-color: #ED1C24;
}

.independent .title {
  background-color: #FFC900;
}

.contactStats {
  padding-top: 15px;
}

.vidBox {
  padding: 20px;
}

.profileData h5, .billData h5 {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0 0 20px 0;
}

.vote {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  margin: 20px 0;
}

.yesVote, .noVote, .nullVote {
  min-width: 20px;
  min-height: 20px;
  /*margin: 0 20px 0 0;*/
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.yesVote {
  background-image: url("../img/yesVote.svg");
}

.noVote {
  background-image: url("../img/noVote.svg");
}

.nullVote {
  background-image: url("../img/nullVote.svg");
}

.stateChecks div {
  margin-right: 10px;
}

.stateChecks [type="checkbox"]:checked+label:before {
  border-right-color: #6FBE45;
  border-bottom-color: #6FBE45;
}

.switch label input[type=checkbox]:checked+.lever {
  background-color: #A1C18F;
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #6FBE45;
}

.titleBlock {
  display: flex;
  justify-content: space-between;
}

.titleBlock div {
  font-size: 14px;
  color: #333;
}

.voteCard p {
  color: #888;
  font-size: 12px;
}

.billTitle {
  font-size: 50px;
  color: white;
  text-align: center;
  padding: 50px 0;
  letter-spacing: 2px;
}

.billData > p {
  padding: 20px;
  font-size: 14px;
  border-bottom: 1px solid #CCC;
}

.smallCard {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.smallCard img {
  height: 50px;
  margin-right: 20px;
  border-radius: 2px;
}

.smallCard h4 {
  font-size: 14px;
  color: #333;
}

.voteCard  {
  border-bottom: 1px solid #CCC;
  margin: 0;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  padding: 20px;
}

.date {
  color: #888 !important;
}

.breakdown {
  display: flex;
  justify-content: space-between;
}

.voteBreakdown span {
  margin-left: 10px;
}

.myRepVotes {
  display: flex;
  padding-top: 20px;
}

.smallVote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 10px;
}

.smallVote img {
  width: 30px;
  margin-bottom: 10px;
}

.voteBreakdown span:nth-child(2) {
  color: #6FBE45;
}

.voteBreakdown span:nth-child(3) {
  color: #ED1C24;
}

.voteBreakdown span:nth-child(4) {
  color: #FFC900;
}

#stateCheckWrapper {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

#searchBox {
  padding: 20px;
}

#repFilters button {
  width: 100%;
  margin: 20px 0;
}

#back {
  margin: 0 18px;
}

#repContainer.loading {
  overflow: hidden;
}

#enterZip {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#enterZip input {
  font-size: 25px;
  text-align: center;
}

#enterZip form {
  width: 100%;
  background-color: #EEE;
  border-radius: 0;
  box-shadow: none;
}

#enterZip .input-field {
  margin: 30px 20px 0 20px;
}

#optionBox {
  width: 100%;
}

#optionBox img {
  width: 100%;
}

#recentVotes {
  background-color: #EEE;
}

.welcome p {
  background-color: #EEE;
  padding: 20px;
  margin: 0;
}

/* label color */
 .input-field label {
   color: #000;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #AAA;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #AAA;
   box-shadow: 0 1px 0 0 #AAA;
 }


 /* Classes for responsive youtube embeds */

 .videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
  margin-top: 20px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: #333;
}

.select-wrapper, .caret {
  color: white !important;
}

.input-field.col label {
  color: white;
  left: 0;
}

[type="checkbox"]:checked+label:before {
  border-right-color: black;
  border-bottom-color: black;
}

input[name=filterState] {
  color: white;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}
