html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-size: 30px;
}

h3 {
  margin: 0;
  text-align: center;
  font-size: 26px;
}

h4, h5 {
  margin: 0;
}

h4 {
  font-size: 1.5em;
}

h5 {
  color: #999;
  font-size: 1.15em;
  margin: 5px 0;
}

h6 {
  font-size: 12px;
  margin: 10px 0 0 0;
}

main {
  position: absolute;
  top: 56px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.hidden {
  display: none !important;
}

.hidden + main {
  top: 0;
}

.brand-logo {
  font-family: 'Amatic SC', cursive;
}

.welcome .brand-logo {
  width: 200px;
  height: 200px;
  border: 1px solid white;
  border-radius: 50%;
  font-size: 60px;
  color: white;
  line-height: 200px;
  text-align: center;
  margin: 30px auto;
}

.card {
  margin-top: 0;
}

.shortInfo {
  display: flex;
}

.icon {
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
  height: 50px;
  width: 50px;
  margin: 50px;
}

.icon.democrat {
  background-image: url(../img/democrat_logo.svg);
}

.icon.republican {
  background-image: url(../img/republican_logo.svg);
}

.icon.independent {
  border-radius: 50%;
  background-color: #FFC900;
}

.icon:hover {
  opacity: .5;
}

.repInfo {
  margin: 20px;
}

.party {
  text-transform: capitalize;
}

.party.democrat {
  color: #007DC5;
}

.party.republican {
  color: #ED1C24;
}

.party.independent {
  color: #FFC900;
}

.headshot {
  height: 150px;
}

.statBox {
  color: white;
  display: none;
  padding: 20px;
}

.open .statBox {
  display: block;
}

.republican .statBox {
  background-color: #ED1C24;
}

.democrat .statBox {
  background-color: #007DC5;
}

.independent .statBox {
  background-color: #FFC900;
}

.stat {
  display: flex;
  align-items: center;
  padding: 7px 20px;
}

.stat i {
  align-self: flex-start;
  margin-right: 1ch;
}

.stat a {
  color: black;
}

.loader {
  height: 100%;
  display: flex;
  align-items: center;
}

.page {
  overflow-y: scroll;
  height: 100%;
}

.red {
  background-color: #ED1C24;
}

.blue {
  background-color: #007DC5;
}

.addrOption {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.addrOption button {
  height: 100%;
  margin-left: 20px;
}

.wide {
  width: 100%;
}

.back {
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
}

.action {
  display: flex;
  align-items: center;
  background-color: #222;
  justify-content: center;
  border-radius: 0;
  text-transform: none;
}

.action span {
  margin-left: 1ch;
}

.profilePic {
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  height: 200px;
}

.prt {
  text-transform: capitalize;
}

.namePic {
  padding: 20px;
}

.namePic h3 {
  color: white;
  text-align: center;
  font-size: 28px;
  margin-top: 20px;
}

.profileData {
  background-color: #EEE;
}

.title {
  padding: 15px 20px 20px 20px;
}

.title h3 {
  color: white;
  font-size: 20px;
}

.title h4 {
  font-style: italic;
  font-size: 16px;
  text-align: center;
  color: white;
  margin-top: 10px;
}

.democrat .title {
  background-color: #007DC5;
}

.republican .title {
  background-color: #ED1C24;
}

.contactStats {
  padding-top: 15px;
}

.recentVotes {
  padding: 20px 20px 0 20px;
}

.vidBox {
  padding: 20px;
}

.vidBox h5, .recentVotes h5 {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0 0 20px 0;
}

.vote {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  margin: 20px 0;
}

.yesVote, .noVote, .nullVote {
  min-width: 20px;
  min-height: 20px;
  margin: 0 20px 0 0;
  border-radius: 50%;
}

.yesVote {
  background-image: url("../img/yesVote.svg");
}

.noVote {
  background-image: url("../img/noVote.svg");
}

.nullVote {
  background-color: yellow;
}

#back {
  margin: 0 18px;
}

#repContainer, #enterZip {
  padding: 20px 20px 0 20px;
}

#repContainer.loading {
  overflow: hidden;
}

#enterZip {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}

#enterZip input {
  font-size: 25px;
  text-align: center;
}

#enterZip form {
  width: 100%;
}

#enterZip .input-field {
  margin: 30px 20px 20px 20px;
}

#optionBox {
  width: 100%;
}

.welcome p {
  color: white;
}

/* label color */
 .input-field label {
   color: #000;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #007DC5;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #007DC5;
   box-shadow: 0 1px 0 0 #007DC5;
 }


 /* Classes for responsive youtube embeds */

 .videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
  margin-top: 20px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
